$controls-green: lighten($brand-success, 10%);
$controls-red: lighten($brand-danger, 10%);

@for $i from 1 through 100 {

    $green: lighten($brand-success, 10%);
    $yellow: lighten($brand-warning, 10%);
    $red: lighten($brand-danger, 10%);
    .text-percent-#{$i} {
        color: mix($green, $red, percentage($i/100));
    }
    .bg-percent-#{$i} {
        background-color: mix($green, $red, percentage($i/100));
    }
}

.controls {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1;
}

.controls-unit,
.controls-odds,
.controls-tile {
    background: rgba(#111, 0.9);
    padding: 5px;
    color: #fff;
    margin: 1px 0;
}

.controls-odds {
    .unit-label {
        font-size: 10px;
        color: rgba(255, 255, 255, 0.66);
        font-weight: normal;
    }
}

.controls-unit-title,
.controls-tile-title {
    padding-left: 6px;
    margin-top: 0;
}

.btn {
    user-select: none;
}

.table-stats {
    margin: 0;

    > tbody > tr > th,
    > tbody > tr > td,
    > tfoot > tr > th,
    > tfoot > tr > td {
        font-size: 12px;
        padding: 2px 6px;
    }
}

.table-odds {
    font-size: 10px;

    > thead > tr > th {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }

    > tbody > tr > th,
    > tbody > tr > td,
    > tfoot > tr > th,
    > tfoot > tr > td {
        text-align: right;
        padding: 2px 6px;
    }

    thead .heading th {
        border: 0;
        // padding-bottom: 2px;
    }

    thead .sub-heading th {
        font-weight: normal;
        line-height: 1;
        border-top: 0;
    }

    th,
    td {
        white-space: nowrap;
    }

    > tfoot {
        > tr {
            > th {
                font-weight: bold;
                border-top: 1px solid rgba(255, 255, 255, 0.25);
            }

            &.row-totals {
                > th {
                    padding-top: 3px;
                    padding-bottom: 3px;
                }
            }

            &.base-odds {
                > td {
                    border-top: 1px solid rgba(255, 255, 255, 0.25);

                    text-align: center;
                }
            }

            &.row-damage-chance-heading {
                > th {
                    text-align: center;
                    border-bottom: 0;
                }
            }

            &.row-damage-chance {
                > td, th {
                    border: 0;
                }
            }
        }
    }

    margin-bottom: 0;
}

.table.table-chances {
    width: auto;
    background: transparent;
    margin: 0;

    > tr > td {
        padding: 1px;
        font-size: 10px;
        text-align: center;
    }

    .kill {
        color: black;
    }
}

.stat-total {
    padding: 2px 6px;
}

.settings {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: rgba(#111, 0.9);
    color: #fff;
    padding: 5px;
    z-index: 1000;

    min-width: 200px;
    label {
        width: 50%;
        text-align: right;
    }

    .form-control {
        width: 40%;
    }
}
