svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.svg-map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.map-layer .tile .hexagon {
    fill: transparent;
}

@import "map/units";

body {
    background: $grass;
}
@import 'map/map-bg';
@import 'map/map-bg-detail';
@import 'map/map-outline';
@import 'map/map-effects';
