$hex-size: 80;
$unit-size: 40;
$unit-hp-bar-height: 2;
$unit-hp-bar-margin: 1.5;
$unit-nato-width: 30;
$unit-nato-height: 20;
$player1-color: blue;
$player2-color: red;
$map-margin: 10;

:export {
  hexSize: $hex-size;
  unitSize: $unit-size;
  unitHpBarHeight: $unit-hp-bar-height;
  unitHpBarMargin: $unit-hp-bar-margin;
  unitNatoWidth: $unit-nato-width;
  unitNatoHeight: $unit-nato-height;
  player1Color: $player1-color;
  player2Color: $player2-color;
  mapMargin: $map-margin;
}
