
.unit-data-table {
    $intersect-color: hsl(0, 0, 96%);
    $hover-color: hsl(0, 0, 90%);
    $hover-intersect-color: darken($hover-color, 5%);

    background: #fff;

    .cell-highlight {
        background: $intersect-color;
    }

    .cell-selected {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            border: 1px solid blue;
        }
    }

    .cell-locked {
        background: rgba(0, 0, 255, 0.05)
    }

    .atk {
        color: darken($brand-success, 10%);
    }

    .def {
        color: darken($brand-danger, 10%);
    }

    tr.hover {
        td {
            background: $hover-color;

            &.cell-highlight {
                background: $hover-intersect-color;
            }
        }
    }

    td.hover {
        background: $hover-color;

        &.cell-highlight {
            background: $hover-intersect-color;
        }
    }

    th.hover div {
        &:before {
            content: '';
            background: $hover-color;
            position: absolute;
            left: -32px;
            top: -8px;
            width: 200px;
            height: 32px;
            display: block;
            z-index: 1;
        }
    }

    width: auto;

    > thead > tr {
        > td, > th {
        }
    }

    td {
        background: #fff;
        font-family: monospace;
        font-size: 12px;
        text-align: left;

        .atk,
        .def {
            display: inline-block;
            width: 5ch;
            text-align: right;
        }
    }

    td, th {
        width: 60px;
        white-space: nowrap;
    }

    thead > tr > th {
        position: relative;
        z-index: 1;
    }

    tbody > tr > td {
        position: relative;
        z-index: 1;
    }

}
