$possible_destination_color: rgb(0, 0, 100);

$grass: rgb(157, 189, 149);
$light_woods: rgb(124, 155, 35);
$forest: rgb(88, 107, 19);
$sand: rgb(216, 186, 136);
$water: rgb(73, 135, 170);
$water_deep: rgb(40, 90, 112);
$mountains: rgb(117, 98, 70);
$road: hsl(0, 0, 60%);
$dirt_road: hsl(35, 40%, 45%);
$river: $water;
$trail: $sand;
$possible_destination_color: rgb(0, 0, 100);
