
.map-layer.outline {
    $path-color: rgb(0, 0, 175);

    .tile .hexagon {
    }

    .selected .hexagon {
        fill: blue;
        mask: url(#mask-hexagon-inset-6);
    }

    .tile-path .hexagon {
        //stroke: $path-color;
        //stroke: red;
        //@include hex-stroke-offset(6);
    }

    .hovered-tile-path {
        stroke: $path-color;
        stroke-width: 6;
        opacity: 0.5;
        fill: none;
    }

    .tile-target-in-range .hexagon {
        fill: orange;
        mask: url(#mask-target-in-range);
    }

    .tile-hovered {
        .hexagon {
            fill: rgb(0, 0, 200);
            mask: url(#mask-hovered-dest);
        }

        &.tile-target-in-range .hexagon {
            stroke: red;
        }
    }

    .tile-target .hexagon {
        stroke: red;
    }

    // coord text
    .tile text.label {
        text-anchor: middle;
        font-size: 8px;
        fill: black;
        fill-opacity: 0.5;
        stroke: none;
    }

    .tile-debug {
        stroke: darkred;

        .label-debug {
            fill: darkred;
            text-anchor: middle;
            font-size: 8px;
        }
    }

    .tile-possible-destination-outline {
        fill: rgba(#fff, 0.2);
        stroke: $possible_destination_color;
        stroke-width: 5;
    }
}

// make hexagon stroke masks
// when applied to a filled hexagon
// will render as an inset path
%mask-hexagon-inset {
    stroke-linecap: square;
    stroke-linejoin: miter;
    stroke-miterlimit: 40;
}

@for $i from 1 through 12 {
    .mask-hexagon-inset-#{$i} {
        @extend %mask-hexagon-inset;
        stroke-width: $i * 2;
        fill: #000;
        stroke: #fff;
    }
    .mask-hexagon-inset-#{$i}-black {
        @extend %mask-hexagon-inset;
        stroke-width: $i * 2;
        stroke: #000;
        fill: transparent;
    }
}
