
.map-layer.bg {
    .tile .hexagon {
        stroke: rgba(10, 10, 10, 0.5);
        fill: transparent;
    }

    .tile-grass .hexagon {
        fill: $grass;
    }

    .tile-light_woods .hexagon {
        fill: $light_woods;
    }

    .tile-forest .hexagon {
        fill: $forest;
    }

    .tile-sand .hexagon {
        fill: $sand;
    }

    .tile-water .hexagon {
        fill: $water;
    }

    .tile-water_deep .hexagon {
        fill: $water_deep;
    }

    .tile-mountains .hexagon {
        fill: $mountains;
    }
}
