
.map-layer.bg-detail {
    // opacity: 0.5;
    // mix-blend-mode: overlay;

    .linear-path {
        stroke-width: 8;
        stroke-linecap: round;
        fill: transparent;

        &.line-river {
            stroke: $river;
        }

        &.line-road {
            stroke: $road;
        }

        &.line-dirt_road {
            stroke: $dirt_road;
        }

        &.line-trail {
            stroke: $trail;
        }
    }

    .linear-path-outline {
        stroke-width: 12;
        fill: transparent;

        &.line-river {
            stroke: lighten($river, 18%);
        }

        &.line-road {
            stroke: lighten($road, 18%);
        }

        &.line-dirt_road {
            stroke: lighten($dirt_road, 18%);
        }

        &.line-trail {
            stroke: lighten($trail, 18%);
        }
    }
}
