
.map-layer.effects {
    .damage {
        fill: orange;
        text-anchor: middle;

        text {
            font-size: 22px;
            font-weight: bold;
        }

        .text-bg {
            fill: black;
            stroke-width: 4;
            stroke: black;
        }
    }
}
