.map-layer.units {
    $player1: $player1-color;
    $player2: $player2-color;
    $bg-color: #ddd;
    $no-moves-color: #bbb;
    $unit-size: $unit-size + 0px;
    $bar-margin: $unit-hp-bar-margin + 0px;
    $bar-width: $unit-size - $bar-margin * 2;
    $bar-height: $unit-hp-bar-height + 0px;

    $nato-width: $unit-nato-width + 0px;
    $nato-height: $unit-nato-height + 0px;
    $nato-x-offset: $unit-size * 0.5 - $nato-width * 0.5;
    $nato-y-offset: $unit-size * 0.5 - $nato-height * 0.5;

    .unit {
        text.label {
            $x-off: $nato-x-offset;
            $fontSize: 6px;

            // text-anchor: middle;
            font-size: $fontSize;
            transform: translate($x-off, $fontSize + 1);
            fill: black;
        }

        text.label-id {
            $x-off: $unit-size - $nato-x-offset;
            $fontSize: 6px;

            text-anchor: end;
            font-size: $fontSize;
            transform: translate($x-off, $fontSize + 1);
        }

        .unit-bg {
            stroke: black;
            stroke-width: 1;
            fill: $bg-color;
        }

        .hp-bar {
            $yOff: $unit-size - $bar-margin - $bar-height;

            transform: translate($bar-margin, $yOff);
            height: $bar-height;
        }

        .unit-move {
            transform: translate(28px, 32px);
        }

        .unit-action {
            transform: translate(32px, 32px);
        }

        .unit-img {
            transform: translate( -20px, -16px);
        }
    }

    @mixin unit-player($num, $player-color) {
        .owner-player#{$num} {
            $stroke: mix($player-color, black, 70%);
            $unit-bg: mix($player-color, $bg-color, 6%);

            .unit-bg {
                stroke: $stroke;
                fill: $unit-bg;
            }

            &.unit-turn-complete {
                .unit-bg {
                    fill: darken($unit-bg, 12%);
                }
            }

            .hp-bar {
                fill: darkgreen;
            }

            &.unit-done {
                .nato-symbols,
                .label,
                .label-id,
                .hp-bar {
                    //opacity: 0.45;
                }

                .unit-bg {
                    fill: darken($unit-bg, 8%);
                    stroke: rgba($stroke, 0.6);
                }
            }
        }
    }

    @include unit-player(1, $player1-color);
    @include unit-player(2, $player2-color);

    .nato-symbols {
        transform: translate($nato-x-offset, $nato-y-offset);
    }
}

.nato-symbols {
    use {
        fill: transparent;
        stroke: #000;
        stroke-width: 1;
    }
}
