<template>
    <g :class="['map-layer', 'bg']">
        <g
            :class="tileToCssClass(tile)"
            :transform.once="`translate(${tile.pxCenter.x},${tile.pxCenter.y})`"
            v-for="tile in tiles"
        >
            <use xlink:href="#hexagon" class="hexagon"/>
        </g>
    </g>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: 'LayerBg',
        props: {
        },
        computed: {
            ...mapGetters('map', [
                'tiles'
            ])
        },
        methods: {
            tileToCssClass(tile) {
                return [
                    'tile',
                    'tile-' + tile.q + '-' + tile.r,
                    'tile-' + tile.type,
                ];
            },
        },
    };
</script>

<style scoped>

</style>
