<template>
    <g :class="['map-layer', 'units']">
        <unit
            v-for="unit in units"
            :key="unit.id"
            :id="unit.id"
            :unit="unit"
            :tile="unit.tile"
            :label="unit.shortName"
            :hp="unit.hp"
            :hp-max="unit.hpMax"
            :owner-id="unit.ownerId"
            :nato-symbols="unit.natoSymbols"
        />
    </g>
</template>
<script>
    import {mapGetters} from 'vuex';
    import Unit from '@/vue/components/Map/LayerUnits/LayerUnit';

    export default {
        name: 'LayerUnits',
        components: {Unit},
        computed: {
            ...mapGetters('units', [
                'units',
            ]),
        },
    };
</script>
<style scoped>

</style>
