<template>
    <g :class="['map-layer', 'outline']">

        <g v-show="validDestTilesOutlines.length" class="tile-possible-destination-outline" fill-rule="evenodd">
            <path :d="validDestTilesOutlines"/>
        </g>

        <path v-show="hoveredTilePath" class="hovered-tile-path" :d="hoveredTilePath"/>

        <g v-show="fovOutline" class="tile-outline-fov" fill-rule="evenodd">
            <path :d="fovOutline" :stroke-dasharray.once="fovDashArray" :stroke-dashoffset.once="fovDashOffset"/>
        </g>

        <g
            v-for="{tile, debug, cssClasses} in outlineTiles"
            :class="cssClasses"
            :transform.once="`translate(${tile.pxCenter.x},${tile.pxCenter.y})`"
        >
            <use xlink:href="#hexagon" class="hexagon"/>
            <text class="label" :y="hexagonHeight * 0.4">{{tile.id}}</text>

            <text v-if="debug" class="label-debug" :y="hexagonHeight * -0.3">{{debug}}</text>
        </g>
    </g>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {coordsToSvgPathData, getReverseTileOutline, tilesToOutline} from '@/svg/util';

    export default {
        name: 'LayerOutline',
        props: {},
        inject: ['grid'],
        data() {
            return {
                fovDashArray: null,
                fovDashOffset: null,
            };
        },
        mounted() {
            let chunks = 4;
            let stroke = 5;
            let cap = stroke * 0.5;
            let chunkSize = this.hexagonSideLength / chunks;
            let dashA = chunkSize - cap + 1;
            let dashB = chunkSize + cap - 1;
            let dashArray = [dashA, dashB, dashA, dashB].join(' ');
            let dashOffset = (chunkSize - cap) * 0.5;

            this.fovDashArray = dashArray;
            this.fovDashOffset = dashOffset;
        },
        computed: {
            ...mapGetters('map', [
                'boundsWidth',
                'boundsHeight',
                'fovTiles',
                'tiles',
                'tilesById',
                'hexagonHeight',
                'tileDebugData',
                'hexagonSideLength',
            ]),
            ...mapGetters('turn', [
                'visibleTiles',
            ]),
            ...mapGetters('selectedUnit', {
                    selectedUnitTile: 'tile',
                    selectedUnitDestTile: 'destTile',
                    selectedUnitValidDestTiles: 'validDestTiles',
                    selectedUnitValidTargetTiles: 'validTargetTilesFromDest',
                    selectedUnitHoveredTilePathData: 'destTilePathData',
                },
            ),
            hoveredTilePath() {
                let tiles = this.selectedUnitHoveredTilePathData.path;
                if (!tiles.length) {
                    return null;
                }
                let coords = tiles.map(tile => tile.pxCenter);
                return coordsToSvgPathData(coords);
            },
            validDestTilesOutlines() {
                let tiles = this.selectedUnitValidDestTiles;
                return tilesToOutline(this.grid, tiles);
            },
            fovOutline() {
                if (this.visibleTiles.length) {
                    return getReverseTileOutline(this.grid, this.visibleTiles, this.boundsWidth, this.boundsHeight);
                }
            },
            outlineTiles() {
                return this.tiles.map((tile) => {
                    let cssClasses = [
                        'tile',
                        'tile-' + tile.q + '-' + tile.r,
                    ];
                    if (this.selectedUnitDestTile === tile) {
                        cssClasses.push('tile-hovered');
                    }
                    if (this.selectedUnitTile === tile) {
                        cssClasses.push('selected');
                    }

                    if (this.selectedUnitHoveredTilePathData.path.includes(tile)) {
                        cssClasses.push('tile-path');
                    }

                    let visible = this.visibleTiles.includes(tile)
                    if (visible && this.selectedUnitValidTargetTiles.includes(tile)) {
                        cssClasses.push('tile-target-in-range');
                    }

                    let debug = this.tileDebugData[tile.id];
                    if (debug) {
                        cssClasses.push('tile-debug');
                    }
                    return {
                        tile,
                        debug,
                        cssClasses,
                    };
                });
            },
        },
    };
</script>

<style scoped lang="scss">

    @import 'sass/variables';

    .tile-possible-destination .hexagon {
        stroke: $possible_destination_color;
        stroke-width: 2;
    }

    .tile-outline-fov {
        fill: url(#pattern-cloud);
        stroke-width: 5;
        stroke: rgba(#000, 0.45);
        stroke-linejoin: round;
        stroke-linecap: round;
    }
</style>
