<template>
    <g
        :class="['map-layer', 'mouse']"
        @mouseleave="mapMouseLeave"
    >
        <g
            v-for="tile in tiles"
            :class.once="tileToCssClass(tile)"
            :transform.once="`translate(${tile.pxCenter.x},${tile.pxCenter.y})`"
            @mouseenter="tileMouseEnter(tile)"
            @click="tileClick(tile)"
        >
            <use xlink:href="#hexagon" class="hexagon"/>
        </g>
    </g>
</template>

<script>
    import {mapGetters} from 'vuex';
    import emitter from '@/vue/event-bus';

    export default {
        name: 'LayerMouse',
        props: {},
        computed: {
            ...mapGetters('map', [
                'tiles',
            ]),
        },
        methods: {
            tileMouseEnter(tile) {
                emitter.emit('tileMouseEnter', tile);
            },
            mapMouseLeave(tile) {
                emitter.emit('mapMouseLeave');
            },
            tileClick(tile) {
                emitter.emit('tileClick', tile);
            },
            tileToCssClass(tile) {
                return [
                    'tile',
                    'tile-' + tile.q + '-' + tile.r,
                ].join(' ');
            },
        },
    };
</script>
