<template>
    <g :class="['map-layer', 'effects']">
        <layer-damage
            v-for="(item, id) in damageAnimations"
            :key="id"
            :tile="item.tile"
            :animation-id="item.animationId"
            :amount="item.damage"
            @complete="onDamageComplete"
        />
    </g>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {animations} from '@/vue/event-bus';
    import LayerDamage from '@/vue/components/Map/LayerEffects/LayerDamage';
    import Vue from 'vue';

    export default {
        name: 'LayerEffects',
        components: {LayerDamage},
        props: {},
        data() {
            return {
                damageAnimations: {},
            };
        },
        computed: {
            ...mapGetters('map', [
                'tiles',
            ]),
        },
        created() {
            animations.damage.onStart(({animationId, tile, damage}) => {
                Vue.set(this.damageAnimations, animationId, {animationId, tile, damage});
            });
        },
        methods: {
            onDamageComplete(animationId) {
                Vue.delete(this.damageAnimations, animationId);
                animations.damage.complete(animationId);
            },
        },
    };
</script>

<style scoped>

</style>
