<template>
    <g :class="['map-layer', 'bg-detail']">
        <path v-for="line in lines" :class="['linear-path-outline', 'line-' + line.subType]" :d.once="line.path"/>
        <path v-for="line in lines" :class="['linear-path', 'line-' + line.subType]" :d.once="line.path"/>
    </g>
</template>

<script>
    import mapLinearGroups from '@/game/map/linear-group-mapper';
    import linearGroupsToPaths from '@/svg/linear-groups';

    export default {
        name: 'LayerBgDetail',
        inject: ['grid'],
        props: {},
        data() {
            let linearGroups = mapLinearGroups(this.grid);

            return {
                lines: linearGroupsToPaths(this.grid, linearGroups),
            };
        },
    };
</script>

<style scoped>

</style>
