<template>
    <defs>
        <g>
            <polygon id="hexagon" :points="hexPoints"/>
        </g>
        <pattern
            id="pattern-cloud"
            width="256"
            height="256"
            patternUnits="userSpaceOnUse"
        >
            <image href="/assets/cloud-pattern.png" height="256" width="256" opacity="0.5"/>
        </pattern>

        <mask v-for="size in insetSizes" :id="'mask-hexagon-inset-' + size" maskUnits="objectBoundingBox">
            <use xlink:href="#hexagon" :class="'mask-hexagon-inset-' + size"/>
        </mask>

        <mask id="mask-hovered-dest" maskUnits="objectBoundingBox">
            <use xlink:href="#hexagon" class="mask-hexagon-inset-4"/>
            <use xlink:href="#hexagon" class="mask-hexagon-inset-1-black"/>
        </mask>

        <mask id="mask-target-in-range" maskUnits="objectBoundingBox">
            <use xlink:href="#hexagon" class="mask-hexagon-inset-4"/>
            <use xlink:href="#hexagon" class="mask-hexagon-inset-1-black"/>
        </mask>

    </defs>
</template>

<script>
    import {hexagonPathString} from '@/hexgrid/util';
    import {styleConfig} from '@/config';

    let {hexSize} = styleConfig;

    export default {
        name: 'MapDefs',
        inject: ['grid'],
        data() {

            let width = hexSize;
            let height = width * Math.sqrt(3) / 2;

            let stripesPerHex = 4;
            let patternHeight = height / stripesPerHex;

            let lineWidth = height * ((1 / stripesPerHex) * 0.5);

            let insetSizes = Object.freeze([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]);

            let hexPoints = this.grid.hexagonPathCoords.map(function(p) {
                return p.x.toFixed(3) + ',' + p.y.toFixed(3);
            }).join(' ');

            return {
                hexPoints,
                width,
                height,
                patternHeight,
                lineWidth,
                insetSizes,
            };
        },
    };
</script>

<style scoped>

</style>
