<template>
    <div class="combat-data">
        <h3>Combat Odds</h3>
        <table>
            <tr v-for="({chances, value}) in combatData">
                <th><h3>{{ value }}</h3></th>
                <td>
                    <odds-chart
                        :chances="chances"
                        :height="40"
                    />
                </td>
            </tr>
        </table>
        <div class="settings form-inline">
            <label>Target HP </label>
            <input type="number" min="0" v-model="targetHp" class="source-hp form-control"/>
            <br>
        </div>
    </div>
</template>
<script>
    import OddsChart from '@/vue/components/Controls/OddsChart';
    import {allChances, getCombatChances} from '@/rules/combat-roll';
    import round from 'lodash/round';

    export default {
        name: 'CombatData',
        components: {OddsChart},
        props: {},
        data() {
            return {
                targetHp: 10,
            };
        },
        computed: {
            combatData() {
                return allChances(this.targetHp);
            },
        },
        methods: {
            prepareChanceData(damage) {
                return getCombatChances(damage);
            },
        },
        filters: {
            round(value) {
                return round(value);
            },
        },
    };

</script>
<style scoped lang="scss">
.combat-data {
    background: #fff;
    padding: 10px;
}

.combat-item {
    padding: 5px;
    border: 1px solid #808080;
}

</style>
