<template>
    <div class="controls">
        <slot name="turn"></slot>
        <unit
            v-if="unit"
            v-bind="unit"
        />
        <odds
            v-if="odds"
            v-bind="odds"
        />
        <tile
            v-if="tile"
            v-bind="tile"
        />
    </div>
</template>
<script>
    import Tile from '@/vue/components/Controls/Tile';
    import Unit from '@/vue/components/Controls/Unit';
    import Odds from '@/vue/components/Controls/Odds';

    export default {
        name: 'Controls',
        components: {Odds, Unit, Tile},
        props: {
            tile: false,
            unit: false,
            odds: false,
        },
    };
</script>
