<template>
    <div>
        <game-map/>
        <controls
            :tile="destTileInfo"
            :odds="hoveredUnitOdds"
            :unit="unitInfo"
        >
            <template v-slot:turn>
                <div>{{ ownerId }} Turn</div>
                <button class="btn btn-default btn-end-turn" @click="endTurn">
                    End Turn
                </button>
            </template>
        </controls>
    </div>
</template>
<script>
    import GameMap from '@/vue/components/Map';
    import Controls from '@/vue/components/Controls';
    import {mapGetters} from 'vuex';
    import emitter from '@/vue/event-bus';

    export default {
        name: 'Game',
        components: {Controls, GameMap},
        computed: {
            ...mapGetters('turn', [
                'selectedUnitHoveredTileInfo',
                'hoveredUnitOdds',
                'selectedUnitInfo',
                'ownerId',
            ]),
            ...mapGetters('selectedUnit', [
                'destTileInfo',
                'hoveredUnitOdds',
                'unitInfo',
            ]),
        },
        methods: {
            endTurn() {
                emitter.emit('clickEndTurn');
            },
        },
    };
</script>
