<template>
    <svg ref="svg" id="map2" class="svg-map" width="100%" height="100%">
        <map-defs/>
        <g ref="layers" class="layers" :width="width" :height="height">
            <layer-bg/>
            <layer-bg-detail/>
            <layer-outline/>
            <layer-units/>
            <layer-effects/>
            <layer-mouse/>
        </g>
    </svg>
</template>

<script>
    import * as d3 from 'd3';
    import LayerBg from '@/vue/components/Map/LayerBg';
    import LayerBgDetail from '@/vue/components/Map/LayerBgDetail';
    import {hexagonPathString} from '@/hexgrid/util';
    import {styleConfig} from '@/config';
    import LayerOutline from '@/vue/components/Map/LayerOutline';
    import {mapState} from 'vuex';
    import MapDefs from '@/vue/components/Map/MapDefs';
    import LayerUnits from '@/vue/components/Map/LayerUnits';
    import LayerMouse from '@/vue/components/Map/LayerMouse';
    import emitter from '@/vue/event-bus';
    import LayerEffects from '@/vue/components/Map/LayerEffects';

    let {hexSize} = styleConfig;

    export default {
        name: 'GameMap',
        components: {LayerEffects, LayerMouse, LayerUnits, MapDefs, LayerOutline, LayerBgDetail, LayerBg},
        props: {},
        data() {
            return {
                hexPoints: hexagonPathString(hexSize, 0),
            };
        },
        computed: {
            ...mapState('map', [
                'width',
                'height',
                'bounds',
                'hoveredTile',
            ]),
        },
        mounted() {

            let {width, height, bounds} = this;

            let root = d3.select(this.$refs.layers);
            let zMin = 0.5;
            let zMax = 2;

            let tMin = [-width * 0.5, -height * 0.5];
            let tMax = [width * 2, height * 2];

            let centerX = (width - bounds.minX - bounds.maxX) * 0.5;
            let centerY = (height - bounds.minY - bounds.maxY) * 0.5;

            let zoom = d3.zoom()
                .scaleExtent([zMin, zMax])
                .translateExtent([tMin, tMax])
                .on('zoom', function() {
                    root.attr('transform', d3.event.transform);
                });

            let svg = d3.select(this.$refs.svg);

            this.svg = svg;
            svg
                .call(zoom)
                .on('dblclick.zoom', null);

            let trans = d3.zoomIdentity.translate(centerX, centerY).scale(1);
            svg.call(zoom.transform, trans);

            // non reactive
            this.d3zoom = zoom;

            emitter.on('panToTile', this.panToTile);

            this.panTo(width * 0.5, height * 0.5);
        },
        methods: {
            zoomTranslate(x, y, scale = 1) {
                let w = window,
                    d = document,
                    e = d.documentElement,
                    g = d.getElementsByTagName('body')[0],
                    width = w.innerWidth || e.clientWidth || g.clientWidth,
                    height = w.innerHeight || e.clientHeight || g.clientHeight;

                let wOffset = width * 0.5;
                let hOffset = height * 0.5;
                return d3.zoomIdentity.translate(-x + wOffset, -y + hOffset).scale(scale);
            },
            panTo(x, y, scale = 1) {
                let translate = this.zoomTranslate(x, y, scale);
                this.svg.call(this.d3zoom.transform, translate);
            },
            panToTile(tile, scale = 1) {
                let x = tile.pxCenter.x;
                let y = tile.pxCenter.y;
                this.panTo(x, y, scale);
            },
        },
        watch: {
            // hoveredTile(value) {
            //     console.log('hoveredTile', value);
            // },
        },
    };
</script>

<style scoped>

</style>
