<template>
    <div>
        <div class="container-fluid">
            <unit-data-table
                :columns="columns"
                :results="results"
                :selected-combat-id="selectedCombatId"
                :selection-locked="selectionLocked"
                @clickCell="onClickCell"
                @mouseEnterCell="onEnterCell"
                @mouseLeaveCell="onLeaveCell"
            />

            <div class="settings form-inline">
                <label>Source HP </label>
                <input type="number" min="0" :max="sourceHpMax" v-model="sourceHp" class="source-hp form-control"/>
                <br>

                <label>Target HP </label>
                <input type="number" min="0" :max="targetHpMax" v-model="targetHp" class="target-hp form-control"/>
            </div>
        </div>
        <controls
            :unit="unit"
            :odds='odds'
            :tile="tile"
        />
    </div>
</template>
<script>
    import units from '../../../data/units';
    import {getData} from '@/services/main-unit-data-service';
    import UnitDataTable from '@/vue/components/UnitData/UnitDataTable';
    import Controls from '@/vue/components/Controls';
    import clamp from 'lodash/clamp';

    export default {
        name: 'UnitData',
        components: {Controls, UnitDataTable},
        props: {},
        data() {
            return {
                tile: null,
                selectedCombatId: null,
                selectionLocked: false,
                current: {
                    sourceHp: 10,
                    targetHp: 10,
                },
            };
        },
        mounted() {
            document.body.addEventListener('click', this.onClickBody, false);
        },
        beforeDestroy() {
            document.body.removeEventListener('click', this.onClickBody, false);
        },
        computed: {
            sourceHp: {
                get() {
                    return this.current.sourceHp;
                },
                set(value) {
                    this.current.sourceHp = clamp(value, 0, this.sourceHpMax);
                },
            },
            targetHp: {
                get() {
                    return this.current.targetHp;
                },
                set(value) {
                    this.current.targetHp = clamp(value, 0, this.targetHpMax);
                },
            },
            targetHpMax() {
                if (this.odds && this.odds.target) {
                    return this.odds.target.hpMax;
                }

                return Infinity;
            },
            sourceHpMax() {
                if (this.odds && this.odds.source) {
                    return this.odds.source.hpMax;
                }

                return Infinity;
            },
            columns() {
                return Object.keys(units).map((key) => {
                    return units[key].shortName;
                });
            },
            results() {
                return this.combatData.results;
            },
            combatData() {
                return getData(this.sourceHp, this.targetHp);
            },
            odds() {
               return this.combatData.combatById[this.selectedCombatId];
            },
            unit() {
                if (this.selectedCombatId === null) {
                    return;
                }
                return {
                    ...this.odds.source,
                    unitMoves: this.odds.source.move,
                };
            },
        },
        methods: {
            onClickCell(combatId) {
                this.selectionLocked = true;
                this.selectedCombatId = combatId;
            },
            clearSelection() {
                this.selectedCombatId = null;
                this.selectionLocked = false;
            },
            onEnterCell(combatId) {
                if (!this.selectionLocked) {
                    this.selectedCombatId = combatId;
                }
            },
            onLeaveCell() {
                if (!this.selectionLocked) {
                    this.selectedCombatId = null;
                }
            },
            onClickBody(e) {
                let isTDOrChild = !!e.target.closest('td');
                let isFormControl = !!e.target.classList.contains('form-control');
                if (isTDOrChild || isFormControl) {
                    return;
                }

                this.clearSelection();
            },
        },
        filters: {
            float(val) {
                return val + '';
            },
        },
    };
</script>

<style scoped>

</style>
