<template>
    <table class="table table-bordered unit-data-table">
        <colgroup></colgroup>
        <colgroup v-for="column in columns"></colgroup>
        <thead>
        <tr>
            <th>
                DMG to
                <div class="atk">
                    Attacker
                </div>
                <div class="def">
                    Defender
                </div>
            </th>
            <th class="def" v-for="column in columns">

                {{column}}

            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in results" :key="index">
            <th class="atk">{{unitShortName(item.source)}}</th>

            <td v-for="(target, targetKey) in item.targets"
                :class="{
                    'cell-highlight': targetKey === item.source,
                    'cell-selected': target.combatId == selectedCombatId,
                    'cell-locked': target.combatId == selectedCombatId && selectionLocked
                }"
                @click="$emit('clickCell', target.combatId)"
                @mouseenter="$emit('mouseEnterCell', target.combatId)"
                @mouseleave="$emit('mouseLeaveCell', target.combatId)"
            >
                <span class="atk">
                    {{target.sourceCombatValue | float}}
                    <template v-if="!hasDecimal(target.sourceDmg)">&nbsp;&nbsp;</template>
                </span>
                <span class="def">
                    {{target.targetCombatValue | float}}
                    <template v-if="!hasDecimal(target.targetDmg)">&nbsp;&nbsp;</template>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    import units from '@/../data/units';

    export default {
        name: 'UnitDataTable',
        props: {
            columns: Array,
            results: Array,
            selectedCombatId: null,
            selectionLocked: false,
        },
        methods: {
            unitShortName(key) {
                return units[key].shortName;
            },
            hasDecimal(value) {
                return (value + '').includes('.');
            },
        },
        filters: {
            float(val) {
                return val + '';
            },
        },
    };
</script>

<style scoped>

</style>
