<template>
    <g
        v-show="visible"
        :class="[
                    'unit',
                    'unit-' + id,
                    'owner-' + ownerId,
                    {'unit-turn-complete': turnComplete }
                ]"
        :transform="`translate(${tweenX},${tweenY})`"
    >
        <template v-if="!image">

            <rect class="unit-bg" :width="unitSize" :height="unitSize"/>
            <g class="nato-symbols">
                <use xlink:href="assets/nato/rect.svg#main"></use>
                <use v-for="symbol in natoSymbols" :xlink:href="`assets/nato/${symbol}.svg#main`"></use>
            </g>
            <rect class="hp-bar" :width="hpBarWidth"></rect>
            <text class="label-id">{{ id }}</text>
            <text class="label">{{ label }}</text>
            <text class="stats"></text>
        </template>

        <image v-if="image" :href="'/assets/' + this.image" :width="hexSize" class="unit-img"/>
    </g>
</template>

<script>
    import {styleConfig} from '@/config';
    import {gsap} from 'gsap';
    import {animations} from '@/vue/event-bus';
    import {mapGetters} from 'vuex';

    let {unitSize, unitHpBarMargin, hexSize} = styleConfig;
    let hpBarFullWidth = unitSize - unitHpBarMargin * 2;

    export default {
        name: 'LayerUnit',
        inject: ['grid'],
        props: {
            id: Number,
            ownerId: String,
            label: String,
            natoSymbols: Array,
            hp: Number,
            hpMax: Number,
            tile: Object,
            unit: Object,
        },
        data() {
            let {x, y} = this.centerTileOn(this.tile.pxCenter);
            return {
                unitSize,
                hexSize,
                tweenX: x,
                tweenY: y,
                tweenTile: null,
                tweenDirection: 4,
            };
        },
        mounted() {
            animations.moveUnit.onStart(({unit, tiles, animationId}) => {
                if (unit.id != this.id) {
                    return;
                }

                this.animateMovement({
                    animationId,
                    tiles,
                });
            });

            animations.unitAttack.onStart(({unit, tile, animationId}) => {
                if (unit.id != this.id) {
                    return;
                }

                this.animateAttack({
                    animationId,
                    tile,
                });
            });
        },
        computed: {
            ...mapGetters('turn', {
                turnOwnerId: 'ownerId',
            }),
            ...mapGetters('turn', [
                'visibleTiles',
                'unitsThatCanAct',
            ]),
            image() {
                if (this.ownerId !== 'player1') {
                    return;
                }

                let unitKeyDir = {
                    vehicle_recon: 'truck',
                    tank_medium: 'tank-med',
                    afv: 'tank-light',
                };
console.log(this.unit.key)
                let dir = unitKeyDir[this.unit.key];

                if (!dir) {
                    return;
                }

                let directionIndexToImageIndex = {
                    0: 2,
                    1: 1,
                    2: 6,
                    3: 5,
                    4: 4,
                    5: 3,
                };

                let imgIndex = directionIndexToImageIndex[this.tweenDirection] || 1;

                return dir + '/image000' + imgIndex + '.png';
            },
            belongsToActivePlayer() {
                return this.turnOwnerId === this.ownerId;
            },
            turnComplete() {
                if (this.belongsToActivePlayer) {
                    return !this.$store.getters['turn/unitsThatCanAct'].includes(this.unit);
                }
                return false;
            },
            hpBarWidth() {
                let hpPercent = this.hp / this.hpMax;
                return Math.max(0, hpBarFullWidth * hpPercent);
            },
            visible() {
                return this.visibleTiles && this.visibleTiles.includes(this.tweenTile || this.tile);
            },
        },
        methods: {
            centerTileOn(tileCenter) {
                let x = tileCenter.x - unitSize * 0.5;
                let y = tileCenter.y - unitSize * 0.5;
                return {x, y};
            },
            animateMovement({animationId, tiles}) {
                let tl = gsap.timeline({
                    onComplete: () => {
                        this.tweenTile = null;
                        // triggers promise resolution in turn/moveSelectedUnit
                        animations.moveUnit.complete(animationId);
                    },
                });

                let prevTile = this.tile;
                tiles.forEach(tile => {
                    let {x, y} = this.centerTileOn(tile.pxCenter);
                    tl.to(this.$data, {
                        duration: 0.1,
                        ease: 'none',
                        tweenX: x,
                        tweenY: y,
                        onStart: () => {

                            this.tweenDirection = this.grid.directionOfNeighbor(prevTile, tile);
                            this.tweenTile = tile;
                            this.$store.commit('turn/recalculateUnitFov', {
                                unit: this.unit,
                                tile,
                            });

                            prevTile = tile;
                        },
                    });
                });
            },
            animateAttack({animationId, tile}) {

                let startX = this.tweenX;
                let startY = this.tweenY;

                let {x, y} = this.centerTileOn(tile.pxCenter);

                let percent = 0.1;
                let dx = ((x - startX) * percent) + startX;
                let dy = ((y - startY) * percent) + startY;

                gsap.to(this.$data, {
                    duration: 0.125,
                    ease: 'none',
                    repeat: 1,
                    yoyo: true,
                    tweenX: dx,
                    tweenY: dy,
                    onComplete: () => {
                        animations.unitAttack.complete(animationId);
                    },
                });
            },
        },
    };
</script>

<style scoped>

</style>
