<template>
    <div class="controls-odds">
        <table class="table-no-border table-condensed table-odds">
            <thead>
            <tr>
                <th colspan="4" class="h5">
                    {{source.name}} {{source.id}}
                    <span class="unit-label">Source</span>
                </th>
                <td class="gap"></td>

                <th colspan="4" class="h5">
                    {{target.name}} {{target.id}}
                    <span class="unit-label">Target</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="sourceOrTargetHasAnyModifiers">
                <template v-if="source.hasAtkMods">
                    <td>Attack</td>
                    <td>{{sourceAtk.base}}</td>
                </template>
                <template v-else>
                    <td/>
                    <td/>
                </template>
                <template v-if="source.hasDefMods">
                    <td>Defense</td>
                    <td>{{sourceDef.base}}</td>
                </template>
                <template v-else>
                    <td/>
                    <td/>
                </template>

                <td class="gap"></td>

                <template v-if="target.hasAtkMods">
                    <td>Attack</td>
                    <td>{{targetAtk.base}}</td>
                </template>
                <template v-else>
                    <td/>
                    <td/>
                </template>
                <template v-if="target.hasDefMods">
                    <td>Defense</td>
                    <td>{{targetDef.base}}</td>
                </template>
                <template v-else>
                    <td/>
                    <td/>
                </template>
            </tr>
            <tr v-for="mod in modifierRows">
                <td>{{mod.source.atk.name}}</td>
                <td>{{mod.source.atk.value | mod}}</td>

                <td>{{mod.source.def.name}}</td>
                <td>{{mod.source.def.value | mod}}</td>

                <td class="gap"></td>

                <td>{{mod.target.atk.name}}</td>
                <td>{{mod.target.atk.value | mod}}</td>

                <td>{{mod.target.def.name}}</td>
                <td>{{mod.target.def.value | mod}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr v-if="source.hasHpPercent || target.hasHpPercent">
                <template v-if="source.hasHpPercent">
                    <th>ATK</th>
                    <th>{{sourceAtk.value}}</th>

                    <th>DEF</th>
                    <th>{{sourceDef.value}}</th>
                </template>
                <template v-else>
                    <th/>
                    <th/>
                    <th/>
                    <th/>
                </template>
                <td class="gap"></td>
                <template v-if="target.hasHpPercent">
                    <th>ATK</th>
                    <th>{{targetAtk.value}}</th>

                    <th>DEF</th>
                    <th>{{targetDef.value}}</th>
                </template>
                <template v-else>
                    <th/>
                    <th/>
                    <th/>
                    <th/>
                </template>
            </tr>
            <tr v-if="source.hasHpPercent || target.hasHpPercent">
                <template v-if="source.hasHpPercent">
                    <td>HP</td>
                    <td>{{sourceHpPercent * 100}}%</td>
                    <td>HP</td>
                    <td>{{sourceHpPercent * 100}}%</td>
                </template>
                <template v-else>
                    <td/>
                    <td/>
                    <td/>
                    <td/>
                </template>

                <td class="gap"></td>

                <template v-if="target.hasHpPercent">
                    <td>HP</td>
                    <td>{{targetHpPercent * 100}}%</td>
                    <td>HP</td>
                    <td>{{targetHpPercent * 100}}%</td>
                </template>
                <template v-else>
                    <td/>
                    <td/>
                    <td/>
                    <td/>
                </template>
            </tr>
            <tr class="row-totals">
                <th>ATK</th>
                <th>{{sourceAtk.finalValue}}</th>

                <th>DEF</th>
                <th>{{sourceDef.finalValue}}</th>

                <td class="gap"></td>

                <th>ATK</th>
                <th>{{targetAtk.finalValue}}</th>

                <th>DEF</th>
                <th>{{targetDef.finalValue}}</th>
            </tr>
            <tr class="base-odds">
                <td colspan="3">
                    <h4>{{targetCombatValue}}</h4>
                    <!--                    <small>{{targetCombatValueRaw | round}}</small>-->
                </td>
                <td colspan="3">
                    <h5>Attack Odds</h5>
                </td>
                <td colspan="3">
                    <h4>{{sourceCombatValue}}</h4>
                    <!--                    <small>{{sourceCombatValueRaw | round}}</small>-->
                </td>
            </tr>
            <tr class="row-damage-chance-heading">
                <th colspan="9" class="text-center">Damage Chance</th>
            </tr>
            <tr class="row-damage-chance">
                <th colspan="4">
                    <odds-chart :chances="targetDamageChance" :show-zero="false"/>
                </th>
                <td class="gap"></td>
                <th colspan="4">
                    <odds-chart :chances="sourceDamageChance" :show-zero="false"/>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
    import {getCombatChances} from '@/rules/combat-roll';
    import OddsChart from '@/vue/components/Controls/OddsChart';
    import round from 'lodash/round';

    export default {
        name: 'Odds',
        components: {OddsChart},
        props: {
            sourceId: null,
            sourceName: null,
            sourceHp: null,
            sourceHpPercent: null,
            sourceAtk: null,
            sourceDef: null,
            sourceCombatValue: null,
            sourceCombatValueRaw: null,

            targetId: null,
            targetName: null,
            targetHp: null,
            targetHpPercent: null,
            targetAtk: null,
            targetDef: null,
            targetCombatValue: null,
            targetCombatValueRaw: null,
        },
        data() {
            return {};
        },
        computed: {
            source() {
                let hasHpPercent = this.sourceHpPercent !== 1;
                let hasAtkMods = this.sourceAtk.mods.length || hasHpPercent;
                let hasDefMods = this.sourceDef.mods.length || hasHpPercent;
                let mods = this.tableMods(this.sourceDef.mods, this.sourceAtk.mods);

                return {
                    id: this.sourceId,
                    name: this.sourceName,
                    hpPercent: this.sourceHpPercent,
                    atk: this.sourceAtk,
                    def: this.sourceDef,
                    dmg: this.sourceCombatValue,
                    hasAtkMods,
                    hasDefMods,
                    hasHpPercent,
                    mods,
                };
            },
            target() {
                let hasHpPercent = this.targetHpPercent !== 1;
                let hasAtkMods = this.targetAtk.mods.length || hasHpPercent;
                let hasDefMods = this.targetDef.mods.length || hasHpPercent;
                let mods = this.tableMods(this.targetDef.mods, this.targetAtk.mods);

                return {
                    id: this.targetId,
                    name: this.targetName,
                    hpPercent: this.targetHpPercent,
                    atk: this.targetAtk,
                    def: this.targetDef,
                    dmg: this.targetCombatValue,
                    hasAtkMods,
                    hasDefMods,
                    hasHpPercent,
                    mods,
                };
            },
            sourceOrTargetHasAnyModifiers() {
                return (this.source.hasAtkMods ||
                    this.source.hasDefMods ||
                    this.target.hasAtkMods ||
                    this.target.hasDefMods);
            },
            modifierRows() {
                return this.tableModRows(this.source.mods, this.target.mods);
            },
            sourceDamageChance() {
                return this.prepareChanceData(this.sourceCombatValue);
            },
            targetDamageChance() {
                return this.prepareChanceData(this.targetCombatValue);
            },
        },
        methods: {
            prepareChanceData(damage) {
                return getCombatChances(damage, this.targetHp);
            },
            tableMods(defMods, atkMods) {
                let len = Math.max(defMods.length, atkMods.length);
                let out = [];

                for (let i = 0; i < len; i++) {
                    out.push({
                        def: defMods[i] || {},
                        atk: atkMods[i] || {},
                    });
                }

                return out;
            },
            tableModRows(sourceMods, targetMods) {
                let mods = [];

                let unitDefault = {
                    atk: {},
                    def: {},
                };

                let len = Math.max(sourceMods.length, targetMods.length);
                for (let i = 0; i < len; i++) {

                    let source = sourceMods[i];
                    let target = targetMods[i];

                    mods.push({
                        source: source || unitDefault,
                        target: target || unitDefault,
                    });
                }
                return mods;
            },
        },
        filters: {
            round(value) {
                return round(value, 2);
            },
            mod(value) {
                if (value > 0) {
                    return '+' + value;
                }

                return value;
            },
        },
    };
</script>
