<template>
    <table class="table table-chances">
        <tr style="vertical-align: top">
            <td
                v-for="({value, chance, percent, damage, width, kill}) in preparedChances"
                :class="'percent-' + (chance)"
            >
                <strong>{{damage}}</strong>
                <div :style="{height: (chance/100) * height + 'px'}" :class="'bg-percent-' + Math.round(chance)">
                    <span v-if="kill" class="kill">X</span>
                </div>
                {{chance | round}}<small>%</small>
                <!--                <br>-->
                <!--                {{percent | round}}%-->
            </td>
        </tr>
    </table>
</template>

<script>
    import round from 'lodash/round';

    export default {
        name: 'OddsChart',
        props: {
            chances: null,
            height: {
                default: 100,
            },
            showZero: false,
        },
        computed: {
            preparedChances() {
                if (this.showZero) {
                    return this.chances;
                }

                return this.chances.filter(({damage}) => {
                    return damage;
                });
            },
        },
        filters: {
            round(value) {
                return round(value);
            },
        },
    };
</script>

<style scoped>

</style>
