<template>
    <div class="controls-tile">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="controls-tile-title">
                    {{type}}
                    <small v-show="tileSubTypes">( {{tileSubTypes}} )</small>
                </h5>
            </div>
        </div>
        <table class="table-stats table-condenced table-no-border table-width-auto">
            <tbody>
            <tr>
                <th>
                    Defense Mod:
                </th>
                <td>
                    {{terrainDefense}}
                </td>
            </tr>
            <tr>
                <th>
                    Move Cost:
                </th>
                <td>
                    {{moveCost}}
                </td>
            </tr>
            <tr>
                <th>
                    Path Cost:
                </th>
                <td>
                    {{pathCost}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: 'Tile',
        props: {
            type: null,
            subTypes: null,
            terrainDefense: null,
            moveCost: null,
            pathCost: null,
        },
        computed: {
            tileSubTypes() {
                return (this.subTypes || []).join(', ');
            },
        },
    };
</script>
