<template>
    <div class="controls-unit">
        <div class="row">
            <div class="col-sm-8">
                <h5 class="controls-unit-title">{{name}} {{id}}</h5>
            </div>
            <div class="col-sm-4 text-right">
                <small>
                HP: {{hp}} / {{hpMax}}
                </small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

                <table class="table-stats table-no-border table-condensed table-width-auto">
                    <tbody>
                    <tr>
                        <th>Type</th>
                        <td>{{type}}</td>
                    </tr>
                    <tr>
                        <th>Move</th>
                        <td>{{unitMoves}} / {{move}}</td>
                    </tr>

                    <tr>
                        <th>Sight Range</th>
                        <td>{{sightRange}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table-stats table-no-border table-condensed table-width-auto">
                    <tbody>

                    <tr>
                        <th>Attack</th>
                        <td>{{stats.attack}}</td>
                    </tr>

                    <tr v-for="(value, key) in stats.attack_vs" :key="key">
                        <th> - vs {{key}}</th>
                        <td>{{value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table-stats table-no-border table-condensed table-width-auto">
                    <tbody>
                    <tr>
                        <th>Defense</th>
                        <td>{{stats.defense}}</td>
                    </tr>

                    <tr v-for="(value, key) in stats.defense_vs" :key="key">
                        <th> - vs {{key}}</th>
                        <td>{{value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Unit',
        props: {
            name: null,
            id: null,
            hp: null,
            hpMax: null,
            move: null,
            unitMoves: null,
            type: null,
            sightRange: null,
            stats: null,
        },
        computed: {
        }
    };
</script>
