<template>
    <g
        class="damage"
        :transform="`translate(${tweenX},${tweenY})`"
        :opacity="tweenOpacity"
    >
        <text class="text-bg">{{amount}}</text>
        <text>{{amount}}</text>
    </g>
</template>

<script>
    import {gsap} from 'gsap';

    export default {
        name: 'LayerDamage',
        props: {
            tile: {
                type: Object,
                required: true,
            },
            amount: {
                type: Number,
                required: true,
            },
            animationId: {
                type: Number,
                required: true,
            },
        },
        data() {
            let center = this.tile.pxCenter;

            return {
                tweenX: center.x,
                tweenY: center.y - this.tile.hexagonHeight * 0.4,
                tweenOpacity: 1,
            };
        },
        watch: {
            animationId: {
                immediate: true,
                handler() {
                    let endYOffset = this.tile.hexagonHeight * 0.1;
                    let yEnd = this.tweenY - endYOffset;

                    gsap.to(this.$data, {
                        duration: 1,
                        ease: 'sine',
                        tweenY: yEnd,
                        onComplete: () => {
                            // triggers promise resolution in turn/startDamageAnimation
                            this.$emit('complete', this.animationId);
                        },
                    });
                    gsap.to(this.$data, {
                        delay: 0.66,
                        duration: 0.33,
                        ease: 'sine',
                        tweenOpacity: 0,
                    });
                },
            },
        },
    };
</script>

<style scoped>

</style>
